<header>
  <nav class="nav_container">
    <div id="hamburger" class="mobile">
      <img src="/menu.png">
    </div>
    <div id="mobileNav">
      <nav>
        <ul>
          <li><a href="/">Homepage</a></li>
          <li><a href="/photos">View Photos</a></li>
          <li><a href="/photos/add">Add Photos</a></li>
          <li class="present">Edit Photos</li>
          <li><a href="/photos/delete">Delete Photos</a></li>
        </ul>
      </nav>
      <div style="clear: both"></div>
    </div>
  </div>
  <% if @error %>
    <h3>There was an error updating the photo. Please try again.</h3>
  <% end %>
</header>

<body data_page_name="photos page">
  <h1>Edit Photo</h1>

  <h3>Choose Photo to Edit</h3>
  <form action="/photo/edited">
    <ul>
      <select name="photo_id">
        <% @photos.each do |photo| %>
          <li><option value="<%= photo.id %>"><%= photo.id %>. <%= photo.title %></option></li>
        <% end %>
      </select>
      <li><input type="text" size="20" placeholder="New title (leave blank to keep)" name="title"></li>
      <li><input type="text" size="50" placeholder="New description (leave blank to keep)" name="description"></li>
      <li><input type="text" size="60" placeholder="New link (leave blank to keep)" name="link"></li>
      <li>
        <select name="photographer_id">
          <option value="">New photographer</option>
          <% @photographers.each do |photog| %>
            <option value="<%= photog.id %>"><%= photog.id %>. <%= photog.name %></option>
          <% end %>
        </select>
      </li>
      <li>
        <select name="album_id">
          <option value="">New album</option>
          <% @albums.each do |album| %>
            <option value="<%= album.id %>"><%= album.id %>. <%= album.title %></option>
          <% end %>
        </select>
      </li>
      <li><input type="submit" value="Change Photo Info"></li>
    </ul>
  </form>
</body>