<header>
</header>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/photos">Photos Page</a></li>
  </ul>
</nav>
<h1>
  <% if @photo.top_photo? %>
    <%= @photo.title %><img src="/GoldStar.png">
  <% else %>
    <%= @photo.title %>
  <% end %>
</h1>
<ul id="view_photo">
  <li>Photo Id: <%= @photo.id %></li>
  <li><%= @photo.description %></li>
  <li>Photographed by: <a href="/photographer/<%= @photo.photographer.id %>"><%= @photo.photographer.name %></a></li>
  <li>Albums:</li>
  <ul>
    <% @photo.albums.each do |a| %>
      <li><a href="/albums/<%= a.id %>"><%= a.title %></li>
    <% end %>
  </ul>
</ul>