<header>
</header>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/photos">Photos Page</a></li>
  </ul>
</nav>
<h1>Photos</h1>
<ul id="view_photos">
  <% @photos.each do |photos| %>
    <li><a href="/photos/<%= photos.id %>"><%= photos.title %></a></li>
      <ul>
        <li>Description: <%= photos.description %></li>
        <li>Link: <%= photos.link %></li>
        <li>Photographer: <%= photos.photographer_id %></li>
      </ul>
  <% end %>
</ul>